body {
  margin: auto;
  padding: 0;
  overflow-x: hidden;
  display: inline-block;
}

.parallax-container {
  width: 100vw;
  height: 100vh;
  margin: auto;
  /* background-color: red; */
}

.paraimgcont {
  width: 90%;
  height: 83%;
  margin: auto;
  /* background-color: blue; */
}

.parallaximg {
  width: 100%;
  height: auto; /* Adjust the height as needed */
}

.parallax-content h1 {
  font-size: 6rem;
  letter-spacing: 1.4rem;
  line-height: 135px;
  text-transform: uppercase;
  color: #D86D31;
  text-align: center;
}
