body {
  display: block;
  line-height: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.events {
  background-image: url(../../assets/bg.png);
  background-size: 100vw 200vh;
  background-repeat: repeat;
}

.event-type {
  position: relative;
}
.anim1 {
  height: 100vh;
}
.event-type > .bg {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/events.jpeg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}

.event-type .bg img {
  position: absolute;
  z-index: 2;
  left: 50%;
  width: min(80vw, 700px);
  transform: translate(-50%, -50%);
}

.event-type .bg .overlay .type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: max(2.25rem, 6vw);
  font-weight: bold;
  color: white;
  width: 80vw;
  text-align: center;
  text-transform: uppercase;
}

.img1 {
  top: 50%;
}

.anim2 .bg {
  background-position-y: 100%;
}
.anim3 .bg {
  background-position-y: 100%;
}

.event-type .bg .img2 {
  height: 5rem;
  opacity: 0;
  top: 110%;
}

.event-type .bg .overlay {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  z-index: 1;
}
