.section4container {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    margin: auto;
    margin-top: 4%;
    display: block; /* Change from inline-block to block */
  }
  
  .educateinfo {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2%;
  }
  
  .imgcont {
    width: 60%;
    height: auto;
  }
  
  .educatelogo {
    width: 100%;
    height: auto;
  }
  
  .educatetext {
    width: 100%;
    height: auto;
  }
  
  .btncont {
    width: 100%;
    margin-top: 2%;
    text-align: center;
  }
  
  .btnholder {
    width: 20%;
    margin: 0 auto; /* Center the button horizontally */
    padding: 1.2%;
    text-align: center;
    border: 2px solid black;
  }
  
  .btncontr {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
  }
  