.sp > .bg {
  background-image: url(../../assets/sports.png);
  overflow: hidden;
}

.main-bg {
  background-size: 100vw 200vh;
  background-repeat: repeat;
  background-image: url(../../assets/bg.png);
}
