.poccont {
  display: flex;
  width: calc(100vw - 4%);
  margin: 2rem auto;
  padding: 2%;
  flex-wrap: wrap;
  gap: 2rem;
  width: fit-content;
  justify-content: center;
}
.eventcont {
  background-color: #c4c4c4;
  width: 15vw;
  padding: 1rem 2rem;
  line-height: 40px;
  flex-grow: 1;
  min-width: 10rem;
}
.eventcont h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
}
.eventcont p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 2%;
}
.poc {
  background-color: #c4c4c4;
  height: 57.5vh;
  padding: 2rem;
  margin: auto;
  text-align: left;
}
.poc h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2%;
}
.pocimgcont {
  display: flex;
  justify-content: center;
}
.pocimg1,
.pocimg2 {
  margin-left: 10%;
  width: min(calc(50vw - 2rem), 15rem);
}
