
.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: visible;
    margin-bottom: 5%;
    display: inline-block;
    font-size: 0;
    white-space: nowrap;
}


.heading {
    text-align: center;
    font-weight: 300;
    margin-top: 2%;
    margin-bottom: 5%;
    font-size : 1.8rem;
}
.imgcont1{
    width: 90%;
    height: 100vh;
    margin: auto;
    
}
.row1,.row2{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.row1 img{
    width: 48%;
    height: 50%;
    margin: 1%;
}

.row2 img{
    width: 31.3%;
    height: 50%;
    margin: 1%;
}