.poccont{
    display: flex;
    width: 100vw;
    height: 65vh;
    margin: auto;
    padding: 2%;
    /* background-color: red; */
}
.eventcont{
    background-color: #C4C4C4;
    width: 15vw;
    padding: 2%;
    line-height: 40px;
    margin-left: 5%;
}
.eventcont h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2%;
}
.eventcont p{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 2%;
}
.poc{
    background-color: #C4C4C4;
    height: 57.5vh;
    width: 50vw;
    padding: 2%;
    margin: auto;
    margin-left: 5%;
    text-align:left;
}
.poc h1{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2%;
}
.pocimgcont{
    display: flex;
    justify-content: center;
}
.pocimg1,.pocimg2{
    margin-right: 10%;
    width: 20vw;
    height: 45vh;
}